# Ignore all files
/*
!/.gitignore
# Except for mods specific folders
!mods/
!config/
!scripts/
!profileImage/

# Config files to ignore
config/voicechat
config/iris.properties
config/indium-renderer.properties

# U